*.a
CMakeCache.txt
CMakeFiles
CMakeLists.txt.user
CMakeScripts
CMakeUserPresets.json
CTestTestfile.cmake
Makefile
Testing
_deps
cmake_install.cmake
compile_commands.json
install_manifest.txt
moontrucks
